body,
html {
   margin: 0;
   padding: 0;
}

header {
   background-color: aliceblue;
   padding: 1rem;
}

.navbar {
   display: flex;
   flex-direction: row;
   max-width: 500px;
}

.navbar-options {
   display: flex;
   flex-direction: column;
   visibility: hidden;
}

.navbar-options a {
   text-decoration: none;
   text-align: center;
}

.show {
   visibility: visible;
}

.dropBtn {
   padding: 0.5rem;
   border: none;
   font-size: 1rem;
   cursor: pointer;
}